h1, h2 {
    font-weight: 500;
    display: block;
    margin: 25px auto;
    text-align: center;
    font-size: 1.3125rem;
}

h2 {
    font-size: 1.6875rem;
    margin: 12px 0;
    z-index: 0;
    &::before {
        content: "";
        color: #efefef;
        display: block;
        position: absolute;
        font-size: 127px;
        top: -22px;
        left: 0;
        z-index: -1;
        font-weight: 400;
    }
    &.h2-junior::before {
        content: "01";
    }
    &.h2-parrain::before {
        content: "02";
    }
}

p {
    display: inline-block;
    font-size: 18px;
}

#container-content {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 0 25px 25px 25px;
    max-width: 600px;
    .content-1, .content-2 {
        min-width: 100%;
    }
    .content-2 {
        margin-top: 25px;
    }
}

small {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.form-flow {
    &::before {
        content: "";
        width: 1fr;
        height: 5px;
        background-color: var(--ion-color-primary);
    }
    &::after {
        content: "1/3";
        font-size: 1.25rem;
        color: var(--ion-color-medium);
        display: block;
        position: absolute;
        right: 25px;
        top: -30px;
    }
}