<ion-header [translucent]="true">
    <ion-toolbar>
        Choix Inscription
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large"></ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div id="container">
      <h2>Rejoins notre communauté !</h2>
  
      <h1>Tu est ici pour :</h1>
      <p>Trouver ta grande soeur ou ton grand frère de coeur</p>
      <ion-button>Oui c'est ca !</ion-button>
  
      <h1>Ou pour :</h1>
      <p>Proposer ton aide fraternelle :</p>
      <ion-button color="secondary">Mon expérience peut servir</ion-button>
  
      <p>Tu pourras changer par la suite</p>
    </div>
  
  </ion-content>
  