<ion-card>
    <ion-card-content>
        <ion-item lines="none">
            <ion-avatar>
                <img src="/assets/icon/favicon.png" alt="avatar">
            </ion-avatar>
                <button (click)="activateImage()"><ion-icon name="camera-outline"></ion-icon></button>
        </ion-item>

        <ion-item lines="none" *ngIf="editable_image">
            <p>ça affiche l'image</p>
        </ion-item>

        <ion-item lines="none">
            <p>{{user.age}}</p>
            <button (click)="activateAge()"><ion-icon name="create-outline"></ion-icon></button>
        </ion-item>

        <ion-item lines="none" *ngIf="editable_age">
            <p>ça affiche l'age</p>
        </ion-item>

        <ion-item lines="none">
            <p>{{user.bio}}</p>
            <button (click)="activateBio()"><ion-icon name="create-outline"></ion-icon></button>
        </ion-item>

        <ion-item lines="none" *ngIf="editable_bio">
            <p>ça affiche la bio</p>
        </ion-item>

        <ion-item lines="none">
            <p>Rôle: {{user.role}}</p>
        </ion-item>
    </ion-card-content>
</ion-card>