<ion-content [fullscreen]="true">
  <app-pattern-header></app-pattern-header>

  <ion-grid>

    <!-- Title -->
    <ion-row>
      <ion-col class="ion-text-center">
        <h1>Mais avant, nous avons besoin de quelques informations</h1>
        <p class="subtitle">C'est pas long promis</p>
      </ion-col>
    </ion-row>

    <!-- Form -->
    <div id="container-content">
      <ion-row class="ion-padding-horizontal ion-padding-bottom">
        <form>

          <ion-col class="ion-padding-bottom ion-no-padding">
            <ion-item>
              <ion-label position="floating" class="ion-no-horizontal-padding">Prénom ou surnom</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <small class="small-prenom">Comment veux-tu que l'on t'appelle sur frater ?</small>
          </ion-col>

          <ion-col class="ion-padding-vertical">
            <ion-item>
              <ion-label position="floating">Adresse email</ion-label>
              <ion-input type="email"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col class="ion-padding-vertical">
            <ion-item class="password">
              <ion-label position="floating">Mot de passe</ion-label>
              <ion-input [type]="showPassword ? 'text' : 'password'"></ion-input>
              <ion-icon class="unmask" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
            </ion-item>
          </ion-col>

          <ion-col class="ion-padding-vertical">
            <ion-item>
              <ion-label position="floating">Confirmer le mot de passe</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>
          </ion-col>

          <div class="wrapper-cta">

          
          <ion-col class="check">
            <ion-checkbox class="checkbox" color="primary"></ion-checkbox>
            <ion-label class="check-label">Je certifie avoir plus de 18 ans et adhérer aux condtions générales d'utilisations</ion-label>
          </ion-col>

          <ion-col class="ion-padding-vertical">
            <ion-button color="transparent" class="success-gradient" size="large" expand="block">Créer mon compte</ion-button>
            <small>Nous ne revendons pas vos données personelles et nous ne spammons pas</small>
          </ion-col>
        </div>
     
      </form>

    </ion-row>

    </div>
  </ion-grid>

  <div class="form-flow">
    <!-- Colorize Progressbar -->
    <ion-progress-bar color="primary" value="0.6666"></ion-progress-bar>
  </div>


</ion-content>
