h1 {
    margin-bottom: 12px;
}

p.subtitle {
    color: var(--ion-color-medium);
}

.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 25px;
}

.m-600 {
    max-width: 600px;
}

.small-form {
    display: inline-block;
    padding-left: 16px;
}

.check {
    padding: 0;
    .check-label {
        display: inlineflex;
        padding-left: 16px;
        //margin-top: -8px;
        max-width: 400px;
    }
}

.unmask {
        display: inline-block;
        position: absolute;
        right: 16px;
        bottom: 5px;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 10000;
}

.wrapper-cta {
    margin-top: 6px;
    ion-button {
        margin-top: 25px;
    }
}

.form-flow {
    margin-top: 65px;
    &::after {
        content: "2/3";
        font-size: 1.25rem;
        color: var(--ion-color-medium);
        display: block;
        position: absolute;
        right: 25px;
        top: 35px;
    }
}