<ion-content [fullscreen]="true">
  <app-pattern-header></app-pattern-header>


  <ion-grid>
    <ion-row class="container-content">
      <form [formGroup]="finForm" (ngSubmit)="go()" novalidate>
        <ion-col>
          <h2>Quel âge as-tu ?</h2>
        </ion-col>

        <ion-col class="col-age">
          J'ai<ion-input type="number" placeholder="18" formControlName="age"></ion-input>ans.
        </ion-col>


        <ion-col class="col-title-2">
          <h2>Ta recherche :</h2>
        </ion-col>

        <ion-col class="radio-group">
          <ion-radio-group formControlName="typeRecherche">
            <ion-item>
              <ion-radio value="peuimporte" (click)="untoogle()"></ion-radio>
              <ion-label>Peu importe le secteur</ion-label>

            </ion-item>
            <ion-item>
              <ion-radio value="proche" (click)="toogle()"></ion-radio>
              <ion-label>Proche de moi</ion-label>

            </ion-item>
          </ion-radio-group>

          <ion-item *ngIf="show">
            <ion-range min="0" max="50" step="5" pin="true" snaps="true" ticks="true" color="primary"
              formControlName="slider"></ion-range>
            <ion-label>{{finForm.value.slider}} km</ion-label>
          </ion-item>
        </ion-col>

        <ion-col class="col-see-first">

            <!-- If Jeune -->
          <ion-list *ngIf="this.user.role == role.Jeune">

            <ion-list-header class="ion-text-center">
              <h2>Je souhaite voir en premier :</h2>
            </ion-list-header>

            <ion-item>
              <ion-checkbox formControlName="chks"></ion-checkbox><br>
              <ion-label>Des grandes soeurs</ion-label>
            </ion-item>
            
            <ion-item>
                <ion-checkbox formControlName="chkf"></ion-checkbox>
                <ion-label>Des grands frères</ion-label>
            </ion-item>

          </ion-list>

          <!-- If adelphe -->
          <ion-list *ngIf="this.user.role == role.Adelphe">
            <ion-list-header>
              <h2>Genre</h2>
            </ion-list-header>

            <ion-radio-group formControlName="genre">

              <ion-item>
                <ion-label>Homme</ion-label>
                <ion-radio value="h"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>Femme</ion-label>
                <ion-radio value="f"></ion-radio>
              </ion-item>

            </ion-radio-group>
          </ion-list>
        </ion-col>

        <ion-col class="ion-text-center">
            <small>Tu pourras changer par la suite</small>
        </ion-col>

        <!-- CTA -->
        <ion-row>
            <ion-col class="cta">
                <ion-button color="primary" size="large" type="submit" expand="block" [disabled]="!finForm.valid">Et c'est parti !</ion-button>
            </ion-col>
        </ion-row>
        
      </form>

    </ion-row>
  </ion-grid>

  <div class="form-flow">
    <!-- Colorize Progressbar -->
    <ion-progress-bar color="primary" value="1"></ion-progress-bar>
  </div>


</ion-content>
