.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.col-age {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 0 80px;
    &::before {
        content: "";
        border-bottom: 1px solid var(--ion-color-medium);
        height: 1px;
        width: 53px;
        position: absolute;
        bottom: 10px;
        left: 30px;
        margin-left: 80px;
    }
}

.col-title-2 {
    margin-top: 65px;
    h2 {
        margin-bottom: 0;
    }
    
}

ion-list-header h2 {
    margin-bottom: 25px;
}

.col-see-first {
    ion-item {
        ion-label {
            padding-left: 18px;
        }
    }
}

h2 {
    font-size: 1.3125rem;
}

.radio-group {
    ion-label {
        padding-left: 18px;
    }
    ion-label {
        border-bottom: none;
    }
}

.cta {
    margin-top: 25px;
}

.form-flow {
    &::after {
        content: "3/3";
        font-size: 1.25rem;
        color: var(--ion-color-medium);
        display: block;
        position: absolute;
        right: 25px;
        top: -30px;
    }
}