<ion-header [translucent]="true">
    <ion-toolbar>
        Choix Inscription
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large"></ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div id="container">
        <form [formGroup]="finForm" (ngSubmit)="submitForm()" novalidate>
            <h2>Quel âges as-tu ?</h2>
      J'ai<ion-input type="number" value="18" formControlName="age"></ion-input>ans.

      <h2>Ta recherche :</h2>
          <ion-radio-group>
            <ion-item (click)="untoogle()">
                <ion-label>Peu importe le secteur</ion-label>
                <ion-radio value="nimporte" formControlName="rb1"></ion-radio>
            </ion-item>
            <ion-item (click)="toogle()">
                <ion-label>Proche de moi</ion-label>
                <ion-radio value="moi" formControlName="rb2"></ion-radio>
            </ion-item>
          </ion-radio-group>
          <ion-item *ngIf="show">
            <ion-range min="0" max="50" step="5" pin="true" snaps="true" ticks="true" color="primary" formControlName="slider" [(ngModel)]="user.rayonRecherche"></ion-range>
            <ion-label >{{user.rayonRecherche}} km</ion-label>
          </ion-item>

      <h2>Je souhaite voir en premier :</h2>

      <ion-label>Des grandes soeurs</ion-label>
      <ion-checkbox formControlName="chks"></ion-checkbox><br>

      <ion-label>Des grands frères</ion-label>
      <ion-checkbox formControlName="chkf"></ion-checkbox>

      <p>Tu pourras changer par la suite</p>
      <ion-button color="secondary"  type="submit">Valider</ion-button>
        </form>
    </div>
  
  </ion-content>
  